ion-content{
  ion-card{
      margin: 0;
      p{
          margin: 3px 8px;
          display: inline-block;
          
      }
      ion-col{
          text-align: end;
          p{
              font-size: 14px;
          }
      }
      ion-list{
          background: white;
      }
      ion-item{
          --background: white;
      }
  }
}
ion-footer{
  --background:#f87e7b;
  ion-row{
      background:#f87e7b;
      color: whitesmoke;
      ion-col{
          &:last-child{
              text-align: end;
          }
      }
  }
}