<ion-content>

  <div class="all">
    <h1 class="titulocadastro">Crie do zero!</h1>
    <ion-label class="subtitulo">facilite sua vida</ion-label>

    <div class="form">
      <ion-input class="form_inputs" placeholder="Nome"></ion-input>
      <ion-input class="form_inputs" placeholder="Sobrenome"></ion-input>
      <ion-input class="form_inputs" placeholder="Email"></ion-input>
      <ion-input class="form_inputs" placeholder="Telefone"></ion-input>
    </div>
  
    <ion-button  class="botao" routerLink="/home">Continuar</ion-button>
    <a  class="voltar" routerLink="/login">voltar</a>
  </div>

</ion-content>
