<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>database</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="criar_map()">carregar mapa</ion-button> -->
  
  <div  *ngFor="let show_map of show_map">
  <ion-item>
    <ion-thumbnail >
      <ion-img src="{{ show_map.map_image }}"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail>
      <ion-img src="{{ show_map.caminhos_images.caminho1 }}"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail >
      <ion-img src="{{ show_map.caminhos_images.caminho2 }}"></ion-img>
    </ion-thumbnail>
  </ion-item>
  
  <ion-label class="map_id">{{ show_map.id.value }}</ion-label>
  </div>
</ion-content>