.all{
    height: 100%;
    background: linear-gradient(170.69deg, #001D0B 2.37%, #0DB045 88.27%);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// ================== tela de entrada =====================
.bem-vindo {
    border-radius:100% ;
    background-color: white;
    height: 300px;
    width: 350px;
    box-shadow: -3px 5px 12px;
    position: fixed;
    margin-top: -700px;
}
.icon_foto{
    z-index: 3;   
    height: 70px;
    width: 70px;
    display: grid;
    margin-bottom: -90px;
    background-size: cover;
    border-radius: 100%;
}
.titulo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    position: absolute;
    bottom: 37rem;
    z-index: 1;
}

.subtitulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 4rem;
    z-index: 1;
    
}

.login{
    border: 1px solid #0DB045;
    width: 130px;
    height: 30px;
    text-align: center;
    background-color: white;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
}

.fundo_form {
    background-color: white;
    height: 235px;
    width: 235px;
    border-radius: 23px;
    box-shadow: 3px 5px 12px;
    opacity: 0.5;
}

.form{
    position: absolute;
    bottom: 20rem;
    width: 50vw;
    right: 4rem; 
    z-index: 2;
    
}
.form_inputs1, .form_inputs2{
    display: grid;
    align-items: center;
    background-color: #a79090;
    --placeholder-color: #fff;
    
       
}
.quadrado1{
    display: flex;
    align-items: baseline;
    background-color: #001d3d;
    width: 2rem;
    height: 2.33rem;
    position: relative;
    top: 7.07rem;
    right: 5.03rem;
    z-index: 1;
}
.quadrado2{
    display: flex;
    align-items: baseline;
    background-color: #001d3d;
    width: 2rem;
    height: 2.33rem;
    position: relative;
    top:8.35rem;
    right: 5.03rem;
    z-index: 1;
}


.form_inputs1{
    top: -20px;
}



.input{
    position: relative;
    border: #001D0B 2px solid;
    
}

.bt-confirma{
    position: absolute;
    --background: linear-gradient(91.26deg, #0E5923 -1.08%, #002C60 113.6%);
    top: 23.7rem;
    width: 11rem;
    --border-radius: 5rem;
    z-index: 2;

   
}
.bt-confirma h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 20px;
    position: relative;
    bottom: 7px;
}
.bt-confirma:hover{
    --background: linear-gradient(91.26deg, #0E5923 -1.08%, #002C60 113.6%);
    --background-hover: linear-gradient(91.26deg, #167230 -1.08%, #1354a3 113.6%);
}

.link{
    position: relative;
    top: 4rem;
    color: #002C60;

}
link:hover{
    --background: #fff;
    --background-hover: #fff;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    position: relative;
    top: 3rem;
}