.menu {
  padding-top: 2rem;
}

.footer {
  display: flex; 
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.img_map{
  transform: rotate(-90deg) scale(1.5);
  margin-top: 9rem;
}