.menu {
  padding-top: 2rem;
}
.img_map{
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 13rem;
}
.AHAHAHHAHAH{
  height: 7rem;

}
.blz_irmao{
  color: white;
  position: absolute;
  left: 10%;
}
.logo_bar{
  position: relative;
  left: 260px;;
  height: 1.9rem;
  width: 1.9rem;
  background: url("/assets/icon/logo.png");
  background-size: cover;
}
.camera_button {
  display: flex;
  margin: 0 auto;
}
