<ion-menu contentId="my-content">
  <div class="menu">
    <ion-item lines="full" routerLink="/perfil">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/configu">
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="/contato">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>Contato</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="/suporte">
      <ion-icon name="chatbubbles" slot="start"></ion-icon>
      <ion-label>Suporte</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="/criacao">
      <ion-icon name="qr-code" slot="start"></ion-icon>
      <ion-label>Ler QR</ion-label>
    </ion-item>
  </div>

</ion-menu>

<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content id="my-content">
  <ion-searchbar placeholder="Procurar">
  </ion-searchbar>
  
    <ion-img src="assets/map/]/entrada/entrada1.png" class="img_map"></ion-img>

    <ion-img src={{image_path}} class="img_map"></ion-img>

    <ion-button (click)="routeSelect(1)">setor 1</ion-button>
    <ion-button (click)="routeSelect(2)">setor 2</ion-button>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" routerLink="/criacao">
    <ion-fab-button >
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
