ion-content {
  --background: #f0f0f2;
  .top {
    background-color: #222;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 150px;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image desc edit"
      "image desc edit";
    justify-items: center;
    align-items: center;

    .image {
      grid-area: image;
      img {
        width: 100px;
        height: 70px;
        border-radius: 50%;
      }
    }
    .desc {
      grid-area: desc;
      justify-self: start;
      h3 {
        color: red;
        font-size: 18px;
      }
      p {
        color: #fff;
        margin-top: -10px;
        font-size: 10px;
        cursor: pointer;
      }
    }
  }
}