<ion-content>

    <ion-div class="all">
      <h1 class="titulo">Bem-vindo</h1>
    <ion-div class="texto">Entre para continuar</ion-div>

    <ion-div class="form">
      <ion-input class="form_inputs" placeholder="email"></ion-input>
      <ion-input class="form_inputs" placeholder="senha"></ion-input>
    </ion-div>

    <ion-button class="bt-confirma" routerLink="/tabs">confirmar</ion-button>
    
    <ion-div class="login">Login</ion-div>

    <ion-div class="texto">Não tem uma conta?</ion-div>
      <a class="link" routerLink="/cadastro">Criar conta</a>
    </ion-div>

</ion-content>
