<ion-content>
    <div class="all">
      <div class="bem-vindo"></div>

      <h1 class="titulo">Bem-vindo!</h1>
    <div class="subtitulo">Entre para continuar</div>
    <div></div>
    
    <ion-img src="assets/icon/usuario.png" class="icon_foto"></ion-img>

    
    <div class="quadrado1"> </div>
    <div class="quadrado2"> </div>
      <div class="fundo_form">
           
        <div class="form">
         
          <ion-input class="form_inputs1" placeholder="email"></ion-input>
          <ion-input class="form_inputs2" placeholder="senha" type="password"></ion-input>
        </div>
      </div>

    <ion-button class="bt-confirma" routerLink="/tabs"><h1>confirmar</h1></ion-button>
    
    <div class="login">Login</div>

    <div class="texto">Não tem uma conta?</div>
      <a class="link" routerLink="/cadastro">Criar conta</a>
    </div>
</ion-content>
