<ion-content>
    <ion-div class="all">
      <ion-div class="bem-vindo">
       
      </ion-div>
      <h1 class="titulo">Bem-vindo!</h1>
    <ion-div class="subtitulo">Entre para continuar</ion-div>
    <ion-div ></ion-div>
    <ion-img src="assets/icon/usuario.png" class="icon_foto"></ion-img>

    
    <ion-div class="quadrado1"> </ion-div>
    <ion-div class="quadrado2"> </ion-div>
      <ion-div class="fundo_form">
           
        <ion-div class="form">
         
          <ion-input class="form_inputs1" placeholder="email"></ion-input>
          <ion-input class="form_inputs2" placeholder="senha" type="password"></ion-input>
        </ion-div>
      </ion-div>

    <ion-button class="bt-confirma" routerLink="/tabs"><h1>confirmar</h1></ion-button>
    
    <ion-div class="login">Login</ion-div>

    <ion-div class="texto">Não tem uma conta?</ion-div>
      <a class="link" routerLink="/cadastro">Criar conta</a>
    </ion-div>
</ion-content>
