<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form  #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
    <ion-item>
      <ion-label position="floating">Nome do Produto:</ion-label>
      <ion-input type="text" ngModel  name="nome"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position="floating">Preço do Produto:</ion-label>
      <ion-input type="text" ngModel  name="preco"></ion-input>
     </ion-item>

     <ion-button type="submit">Enviar</ion-button>
  </form>
</ion-content>
