<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>

    <!----------------------------- app ---------------------------------->
    <ion-item lines="none">
      <h3>aplicativo</h3>
    </ion-item>

    <ion-item lines="full">
      <ion-icon name="contrast" slot="start"></ion-icon>
      <ion-label>tema</ion-label>
    </ion-item>

  </div>
</ion-content>
