.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulocadastro{
    

}

.subtitulo{
    
}

.form{

}

.form_inputs{
    
}

.botao{

}

.voltar{

}