<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button> </ion-menu-button>
      <ion-title>Login</ion-title>
      <ion-icon name="lock-closed" class="ion-padding-end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upper">
    <div class="icon">
      <ion-icon name="skull"></ion-icon>
    </div>
    <p id="login">Skate Club</p>
  </div>
  <div class="middle">
    <div class="box">
      <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
        <p>Please, Enter Your Login</p>
        <ion-item>
          <ion-label position="floating"> Email Address </ion-label>
          <ion-input
            type="email"
            placeholder=" Enter email"
            name="email"
            required
            ngModel

          >
          </ion-input>
          <ion-icon
            class="ion-align-self-center"
            slot="end"
            name="mail"
          ></ion-icon>
        </ion-item>
        <div>
          <ion-text color="danger-text-center">
            <h4 style="padding-left: 20px; margin-top: 10px; font-size: 13px; color: #222;">
              Please Write Your Email Address!
            </h4>
          </ion-text>
        </div>
        <ion-item>
          <ion-label position="floating"> Password </ion-label>
          <ion-input
            [type]="type ? 'password' : 'text'"
            placeholder=" Enter password"
            name="password"
            required
            ngModel

          >
          </ion-input>
          <ion-icon
            class="ion-align-self-center"
            slot="end"
            name="eye-outline"
            (click)="changeType()"
          ></ion-icon>
        </ion-item>
        <div>
          <ion-text color="danger-text-center">
            <h4 style="padding-left: 20px; margin-top: 10px;font-size: 13px; color: #222;">
              Please Write Your Password Here!
            </h4>
          </ion-text>
        </div>
        <div class="btn">
          <ion-button  color="danger" type="submit">Login</ion-button>
        </div>
      </form>

      <p id="media">Or Login Using Social Media</p>

      <div class="socialMedia">
        <ion-icon name="logo-facebook" (click)="facebookLogin()"></ion-icon>
        <ion-icon name="logo-instagram" (click)="instagramLogin()"></ion-icon>
        <ion-icon name="logo-twitter" (click)="twitterLogin()"></ion-icon>
      </div>

      <div class="touchLogin" (click)="touchLogin()">
        <ion-icon name="finger-print-outline"></ion-icon>
        <p>Sing in Using Touch ID</p>
      </div>

      <div class="faceLogin" (click)="faceLogin()">
        <ion-icon name="eye-outline"></ion-icon>
        <p>Sing in Using Touch ID</p>
      </div>
      <div (click)="openSignUp()" class="recover">
        <a href="/register">Forgot your password?</a>
      </div>
    </div>
  </div>
  <div class="buttons">
    <ion-button routerLink="/register" dir="forward"  color="danger">Registrar</ion-button>
  </div>
</ion-content>
